@page "/"
@using TicTacToe.Data
@inject NavigationManager Nav
@inject GameService Service
@inject IJSRuntime JS

@code {
    string userName = "";
    string error = "";

    private async Task Login()
    {
        if (!string.IsNullOrWhiteSpace(userName))
        {
            if (Service.RegisterPlayer(userName))
            {
                await JS.InvokeVoidAsync("localStorage.setItem", "username", userName);
                Nav.NavigateTo($"/lobby");
            }
            else
                error = "Nome já existe";
        }
    }
}

<div class="login-container">
    <h1>TicTacToe</h1>
    <input placeholder="Seu nome" @bind="userName" />
    <button @onclick="Login">Entrar</button>
    <div>@error</div>
</div>