@page "/"
@using TicTacToe.Data
@inject NavigationManager Nav
@inject GameService Service
@inject IJSRuntime JS

@code {
    string userName = "";
    string error = "";

    protected override async Task OnInitializedAsync()
    {
        userName = await JS.InvokeAsync<string>("localStorage.getItem", "username");
        await Register();
    }

    private async Task Register()
    {
        if (!string.IsNullOrWhiteSpace(userName))
        {
            if (Service.RegisterPlayer(userName))
            {
                await JS.InvokeVoidAsync("localStorage.setItem", "username", userName);
                Service.NotifyStateChanged();
                await Task.Delay(50);
                Nav.NavigateTo($"/lobby");
            }
            else
                error = "Nome já existe";
        }
    }
}

<div class="login-container">
    <h1>TicTacToe</h1>
    <input placeholder="Seu nome" @bind="userName" />
    <button @onclick="Register">Entrar</button>
    <div>@error</div>
</div>