@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Nav
@inject IJSRuntime JS

<div class="@CssClass">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Login</NavLink>
        </li>
        <li>
            <NavLink href="/lobby">Lobby</NavLink>
        </li>
        <li>
            <NavLink href="/ranking">Ranking</NavLink>
        </li>
        <li>
            <button @onclick="Logout">Sair</button>
        </li>
    </ul>
</div>

@code {
    [Parameter] public string CssClass { get; set; } = "nav-menu";

    private async Task Logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "username");
        Nav.NavigateTo("/");
    }
}