@using Microsoft.AspNetCore.Components.Routing
@using TicTacToe.Data
@inject NavigationManager Nav
@inject IJSRuntime JS
@inject GameService Service

@if (IsLoggedIn)
{
    <div class="@CssClass">
        <ul>
            <li>
                <NavLink href="/lobby">Lobby</NavLink>
            </li>
            <li>
                <NavLink href="/ranking">Ranking</NavLink>
            </li>
            <li>
                <button @onclick="Logout">Sair</button>
            </li>
        </ul>
    </div>
}

@code {
    [Parameter] public string CssClass { get; set; } = "nav-menu";
    private bool IsLoggedIn { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        Service.StateChanged += async () =>
        {
            var username = await JS.InvokeAsync<string>("localStorage.getItem", "username");
            IsLoggedIn = !string.IsNullOrEmpty(username);
            StateHasChanged();
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var username = await JS.InvokeAsync<string>("localStorage.getItem", "username");
            IsLoggedIn = !string.IsNullOrEmpty(username);
            StateHasChanged();
        }
    }

    private async Task Logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "username");
        IsLoggedIn = false;
        Nav.NavigateTo("/");
    }
}